@import "../base/variables";

.frame {
  width: 100%;
  position: relative;
  min-height: 170px;
  margin-top: 20px;
  background-color: $primaryColor;
  padding: 14px 30px;
  border-radius: 20px 0 20px 0;

  &Child {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    padding-top: 10px;
  }

  &Content {
    display: flex;
    flex-direction: column;
    gap: 10px;

    &Title {
      display: flex;
      align-items: center;
      gap: 20px;
      justify-content: flex-start;
      
      h2 {
        color: #fff;
        font-weight: 600;
      }
    }
  }
}