.MuiPaper-root {
  padding: 10px 20px;
}

.MuiAppBar-root.MuiAppBar-colorPrimary {
  background-color: transparent;
  box-shadow: unset;
  color: $blackColor;
}

.MuiToolbar-root.MuiToolbar-gutters.MuiToolbar-regular {
  padding: 0;
}

.MuiButtonBase-root.MuiListItemButton-root {
  position: relative;
  transition: all ease 0.3s;
}

.MuiButtonBase-root.MuiListItemButton-root.Mui-selected {
  background-color: #f3f6f9;
  border-radius: 0 10px 10px 0;

  &::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 5px;
    background-color: $blackColor;
    left: -5px;
    top: 0;
  }

  .MuiListItemText-root {
    span {
      opacity: 1;
      transform: translateX(8px);
    }
  }

  &:hover {
    background-color: unset;

    .MuiListItemText-root {
      span {
        opacity: 1;
        transform: translateX(8px);
      }
    }
  }
}

.MuiButtonBase-root.MuiListItemButton-root:hover {
  background-color: unset;

  .MuiListItemText-root {
    span {
      opacity: 1;
      transform: translateX(8px);
    }
  }
}

.MuiTypography-root.MuiListItemText-primary {
  font-size: 15px;
  transition: all 0.2s ease-in;
  font-weight: 700;
  opacity: 0.5;
}

.MuiFormLabel-root.MuiInputLabel-root.MuiInputLabel-formControl {
  font-size: 14px;

  &.Mui-focused {
    font-size: 16px;
  }
}