@mixin responsive($breakpoint) {
  @if $breakpoint ==min_sm {
    @media (min-width: $sm) {
      @content;
    }
  }

  @if $breakpoint ==max_sm {
    @media (max-width: $sm) {
      @content;
    }
  }

  @if $breakpoint ==min_md {
    @media (min-width: $md) {
      @content;
    }
  }

  @if $breakpoint ==max_md {
    @media (max-width: $md) {
      @content;
    }
  }

  @if $breakpoint ==min_lg {
    @media (min-width: $lg) {
      @content;
    }
  }

  @if $breakpoint ==max_lg {
    @media (max-width: $lg) {
      @content;
    }
  }

  @if $breakpoint ==min_xl {
    @media (min-width: $xl) {
      @content;
    }
  }

  @if $breakpoint ==max_xl {
    @media (max-width: $xl) {
      @content;
    }
  }
}