* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  position: relative;
}

html,
body {
  overflow-x: hidden;
}

body {
  min-height: 100vh;
  font-family: $primaryFont;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0;
  color: $blackColor;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}