// Color & Font
$primaryColor: #ee4949;
$primaryLightColor: rgba(238, 73, 73, 0.08);
$primaryMediumColor: rgba(238, 73, 73, 0.6);
$blackColor: #3b3b3b;
$blackLightColor: rgba(59, 59, 59, 0.08);

$primaryFont: 'Montserrat', sans-serif;

// Break point
$sm: 600px;
$md: 900px;
$lg: 1200px;
$xl: 1536px;
